Repository staticWagomU/gigooo-ra-men-review: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm run lint {staged_files}
    format:
      glob: "*.{js,jsx,ts,tsx,json,css,md}"
      run: pnpm run format {staged_files}

pre-push:
  parallel: true
  commands:
    type-check:
      run: pnpm run type-check
    test:
      run: pnpm test -- --run
    build:
      run: pnpm run build

commit-msg:
  commands:
    commitlint:
      run: pnpm exec commitlint --edit

test: setup vitest and testing library environment
  package.json
  pnpm-lock.yaml
  test/setup.ts
  tsconfig.json
  vitest.config.ts
Due: lint, format

feat: setup shadcn/ui and tailwind css with theme support
  app/globals.css
  components.json
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/sonner.tsx
  components/ui/textarea.tsx
  lib/utils.ts
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: lint, format

feat: add validation schema and utility functions
  .claude/settings.json
  components.json
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/input.tsx
  components/ui/label.tsx
  components/ui/sonner.tsx
  components/ui/textarea.tsx
  lib/utils.test.ts
  lib/utils.ts
  lib/validations.test.ts
  lib/validations.ts
  tailwind.config.ts
  vitest.config.ts
Due: lint, format

feat: add StarRating and MessagePreview components
  components/ui/message-preview.test.tsx
  components/ui/message-preview.tsx
  components/ui/star-rating.test.tsx
  components/ui/star-rating.tsx
Due: lint, format

feat: implement main ReviewForm component and page
  app/page.test.tsx
  app/page.tsx
  components/review-form.test.tsx
  components/review-form.tsx
  components/ui/message-preview.test.tsx
  components/ui/message-preview.tsx
  components/ui/star-rating.test.tsx
  components/ui/star-rating.tsx
Due: lint, format

fix: update page component and CSS for production build
  app/globals.css
  app/page.tsx
  tailwind.config.ts
Due: lint, format

fix: resolve all lint errors and improve code quality
  app/page.test.tsx
  components/review-form.test.tsx
  components/review-form.tsx
  components/ui/message-preview.test.tsx
  components/ui/message-preview.tsx
  components/ui/star-rating.test.tsx
  components/ui/star-rating.tsx
  lefthook.yml
  lib/validations.test.ts
  test/setup.ts
Due: lint, format

chore(deps): add vitest/ui
  package.json
  pnpm-lock.yaml
Due: format

fix: correct ViewTransition mock type definition
  test/setup.ts
Due: lint, format

ci: pre-commitへtype-checkを追加
  lefthook.yml
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

chore(vitest): rename
  vitest.config.mts
Due: none

feat: プレビューへ自動適用
  components/review-form.tsx
Due: lint, format

feat: レビューを投稿ボタンを削除
  app/page.test.tsx
  components/review-form.test.tsx
  components/review-form.tsx
Due: lint, format

feat: メッセージテンプレートを更新
  components/ui/message-preview.test.tsx
  lib/utils.test.ts
  lib/utils.ts
Due: lint, format

test: URL解析フィールドの表示をテスト
  tests/url-input.test.tsx
Due: lint, format

feat: URL解析フィールドを追加
  components/review-form.tsx
Due: lint, format

test: Jina Reader APIからMarkdown取得をテスト
  tests/jina-reader.test.ts
Due: lint, format

feat: Jina Reader APIでURL→Markdown変換を実装
  lib/jina-reader.ts
Due: lint, format

test: Markdownから店舗情報を抽出する機能をテスト
  tests/shop-info-extractor.test.ts
Due: lint, format

feat: 店舗情報抽出機能の基本実装を追加
  lib/shop-info-extractor.ts
Due: lint, format

docs: Sprint 1 進捗を更新 (3/6サブタスク完了)
  plan.md
Due: format

test: URL解析後のフォーム自動入力をテスト
  tests/auto-fill.test.tsx
Due: lint, format

feat: URL解析による店舗情報の自動入力を実装
  components/review-form.tsx
Due: lint, format

docs: Sprint 1 進捗を更新 (4/6サブタスク完了)
  plan.md
Due: format

test: Jina Reader APIエラー時のエラーメッセージ表示をテスト
  tests/jina-reader-error.test.tsx
Due: lint, format

feat: URL解析エラー時のエラーメッセージ表示を実装
  components/review-form.tsx
Due: lint, format

docs: Sprint 1 進捗を更新 (5/6サブタスク完了)
  plan.md
Due: format

test: AI抽出失敗時の手動入力フォールバックをテスト
  tests/fallback-manual-input.test.tsx
Due: lint, format

feat: AI抽出失敗時のフォールバックメッセージを実装
  components/review-form.tsx
Due: lint, format

style: Biome lintルールに準拠
  components/review-form.tsx
  lib/shop-info-extractor.ts
Due: lint, format

docs: Sprint 1 サブタスク6完了を記録
  plan.md
Due: format

docs: Sprint 1 完了とレトロスペクティブ記録
  plan.md
Due: format

test: AI API呼び出しで店舗情報を抽出するテスト
  tests/shop-info-extractor-ai.test.ts
Due: lint, format

feat: Vercel AI SDKでAIによる店舗情報抽出を実装
  lib/shop-info-extractor.ts
  package.json
  pnpm-lock.yaml
Due: lint, format

docs: Sprint 2 開始とPBI-002を記録
  plan.md
Due: format

docs: Sprint 2 サブタスク1完了を記録
  plan.md
Due: format

feat(shop-info-extractor): AI APIエラー時に空のShopInfoを返すフォールバック処理
  lib/shop-info-extractor.ts
Due: lint, format

test(shop-info-extractor): AI APIエラー時のフォールバック動作を検証
  tests/shop-info-extractor-ai.test.ts
Due: lint, format
